<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rainclassv3.mapper.PeriodMapper">
  <resultMap id="BaseResultMap" type="rainclassv3.pojo.Period">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="term" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="term_start_date" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="term_end_date" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="choose_start_date" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="choose_end_date" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="remark" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, term, term_start_date, term_end_date, choose_start_date, choose_end_date, remark
  </sql>
  <select id="selectByExample" parameterType="rainclassv3.pojo.PeriodExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from period
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from period
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from period
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="rainclassv3.pojo.PeriodExample">
    delete from period
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="rainclassv3.pojo.Period" useGeneratedKeys="true" keyProperty="id">
    insert into period (id, term, term_start_date, 
      term_end_date, choose_start_date, choose_end_date, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{term,jdbcType=VARCHAR}, #{termStartDate,jdbcType=DATE}, 
      #{termEndDate,jdbcType=DATE}, #{chooseStartDate,jdbcType=DATE}, #{chooseEndDate,jdbcType=DATE}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="rainclassv3.pojo.Period" useGeneratedKeys="true" keyProperty="id">
    insert into period
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="term != null">
        term,
      </if>
      <if test="termStartDate != null">
        term_start_date,
      </if>
      <if test="termEndDate != null">
        term_end_date,
      </if>
      <if test="chooseStartDate != null">
        choose_start_date,
      </if>
      <if test="chooseEndDate != null">
        choose_end_date,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="term != null">
        #{term,jdbcType=VARCHAR},
      </if>
      <if test="termStartDate != null">
        #{termStartDate,jdbcType=DATE},
      </if>
      <if test="termEndDate != null">
        #{termEndDate,jdbcType=DATE},
      </if>
      <if test="chooseStartDate != null">
        #{chooseStartDate,jdbcType=DATE},
      </if>
      <if test="chooseEndDate != null">
        #{chooseEndDate,jdbcType=DATE},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="rainclassv3.pojo.PeriodExample" resultType="java.lang.Long">
    select count(*) from period
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update period
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.term != null">
        term = #{record.term,jdbcType=VARCHAR},
      </if>
      <if test="record.termStartDate != null">
        term_start_date = #{record.termStartDate,jdbcType=DATE},
      </if>
      <if test="record.termEndDate != null">
        term_end_date = #{record.termEndDate,jdbcType=DATE},
      </if>
      <if test="record.chooseStartDate != null">
        choose_start_date = #{record.chooseStartDate,jdbcType=DATE},
      </if>
      <if test="record.chooseEndDate != null">
        choose_end_date = #{record.chooseEndDate,jdbcType=DATE},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update period
    set id = #{record.id,jdbcType=INTEGER},
      term = #{record.term,jdbcType=VARCHAR},
      term_start_date = #{record.termStartDate,jdbcType=DATE},
      term_end_date = #{record.termEndDate,jdbcType=DATE},
      choose_start_date = #{record.chooseStartDate,jdbcType=DATE},
      choose_end_date = #{record.chooseEndDate,jdbcType=DATE},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="rainclassv3.pojo.Period">
    update period
    <set>
      <if test="term != null">
        term = #{term,jdbcType=VARCHAR},
      </if>
      <if test="termStartDate != null">
        term_start_date = #{termStartDate,jdbcType=DATE},
      </if>
      <if test="termEndDate != null">
        term_end_date = #{termEndDate,jdbcType=DATE},
      </if>
      <if test="chooseStartDate != null">
        choose_start_date = #{chooseStartDate,jdbcType=DATE},
      </if>
      <if test="chooseEndDate != null">
        choose_end_date = #{chooseEndDate,jdbcType=DATE},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="rainclassv3.pojo.Period">
    update period
    set term = #{term,jdbcType=VARCHAR},
      term_start_date = #{termStartDate,jdbcType=DATE},
      term_end_date = #{termEndDate,jdbcType=DATE},
      choose_start_date = #{chooseStartDate,jdbcType=DATE},
      choose_end_date = #{chooseEndDate,jdbcType=DATE},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>